################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Ohjelmalogiikkaa/.vs/Ohjelmalogiikkaa/v16
/Ohjelmalogiikkaa/Ohjelmalogiikkaa/obj
/Ohjelmalogiikkaa/Ohjelmalogiikkaa/bin/Debug/netcoreapp3.1
/OlioOhjelmointi/.vs/OlioOhjelmointi/v16
/OlioOhjelmointi/OlioOhjelmointi/obj
/Ohjelmalogiikkaa/.vs/Ohjelmalogiikkaa/DesignTimeBuild
/OlioOhjelmointi/OlioOhjelmointi/bin/Debug/netcoreapp3.1
